@tailwind base;
@tailwind components;
@tailwind utilities;

.font-nunito {
  font-family: var(--font-nunito);
  font-weight: 400;
}

.font-short-stack {
  font-family: var(--font-short-stack);
  font-weight: 400;
}
